<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset="utf-8"/>
        <title>Programador Full Stack</title>
    </head>
    <body>
        <h1>Tecnologias Cloud</h1>
        <%for(i=0;i < dados.length; i++){%>
            <p>--------------</p>
            <p><%=dados[i].id%></p>
            <p><%=dados[i].modulo%></p>
            <p><%=dados[i].nome%></p>
        <%}%>
    </body>
</html>